$color-primary: hsl(165°, 53%, 48%);
$color-link-hover: hsl(163°, 87%, 72%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: hsl(202°, 33%, 95%);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;


body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.5;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 53em;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($color-text, white, 40%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  text-decoration: none;
  box-shadow: inset 0 -7px 0 rgba(147,255,145,.25);
  transition: all .1s ease-in;
  border-bottom: 1px solid $color-border;
  color: $color-primary;
  border-radius: 2px;
  &:hover {
    // color: black !important;
    box-shadow: inset 0 -24px 0 rgba(147,255,145,.25);
  }
}

*:focus {
  background: #eff4f7 !important;
  color: black !important;
}

nav {
  margin: 1em 0 3em;
}

ul {
  padding-left: 50px;
}

li {
  padding-bottom: 15px;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  text-align:center;
}

@media (prefers-color-scheme: dark) {

  $night-mode-bg: #282a36;
  $night-mode-fg: #f8f8f2;

  body {
    background-color: #282a36;
    color: $night-mode-fg;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $night-mode-fg;
    }

    .backlink-box {
      background: darken($night-mode-bg, 5)
    }

    time {
    display: block;
    color: $night-mode-fg;
    margin: 0.5em 0 1em;
    }

    blockquote {
    background: darken($night-mode-bg, 5);
    }

    .masthead,
    .post,
    hr {
      border-color: hsla(0, 100%, 100%, 0.15);
    }

    $link-color: rgb(171, 184, 219);
    .entry a,
    a {
      color: $link-color;
      box-shadow: inset 0 0px 0 rgba(178,192,232,.25);
    }

    a:hover {
      color: lighten($link-color, 25);
      box-shadow: inset 0 -24px 0 rgba(178,192,232,.25);
    }

    .wrapper-footer {
      background-color: $night-mode-bg;
    }

    .highlight {
      background-color: #202020;
      border: 1px solid #000;
    }

    nav a,
    .site-description {
      color: #abb7db;
    }
  }

}

.invalid-link {
  color: #6d768c;
  cursor: help;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

